# --- Python & Environment ---
.venv/
venv/
ENV/
env/
*.pyc
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# --- uv (Dependency Manager) ---
# We keep pyproject.toml and uv.lock, but ignore the local tool cache
.uv/

# --- ML Artifacts & Data ---
# Do NOT push large data files or models to GitHub
data/
artifacts/
mlruns/
*.csv
*.pkl
*.h5
*.joblib
.temp/

# --- AWS & Credentials ---
.aws/
.env
*.pem
credentials.json

# --- Airflow ---
airflow/logs/
airflow/plugins/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/unittests.cfg

# --- Docker ---
.docker/
docker-compose.override.yml

# --- OS Specific ---
.DS_Store
Thumbs.db